<ion-content>
  <h2 style="margin:1em;margin-top:3em;" *ngIf="type == 'vaccine'">Agregar Vacuna</h2>
  <h2 style="margin:1em;margin-top:3em;" *ngIf="type == 'deworming'">Agregar desparasitación</h2>

<ion-label *ngIf="type == 'vaccine'" style="padding: 1em;margin-bottom: 2em;">Fecha vacuna</ion-label>
<ion-label *ngIf="type == 'deworming'"  style="padding: 1em;margin-bottom: 2em;">Fecha desparasitación</ion-label>

  <ion-item lines="none" style="margin-top: 1em;">
    <ion-datetime-button datetime="datetime" ></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime   presentation="date" [min]="yearLimitIonDateTime" [max]="today" id="datetime" cancelText="Cancelar" doneText="Aceptar" [(ngModel)]="date"></ion-datetime>
      </ng-template>
    </ion-modal>

    <!-- <ion-datetime  [ngClass]="{'ml-2' : device == 'tablet' }"  ></ion-datetime> -->
  </ion-item>

  <div style="padding: 1em;">
    <p>Nombre</p>
    <ion-input class="new-input" placeholder="Ingresa el producto aplicado" [(ngModel)]="name"></ion-input>
  <div *ngIf="type == 'vaccine'">
    <small>Sugerencias</small>
    <div *ngIf="specie == 2"  class="chips-container">
      <ion-chip (click)="setName('Rabia')">
        Rabia
      </ion-chip>
      <ion-chip (click)="setName('Vacuna Quíntuple')">
        Vacuna Quíntuple
      </ion-chip>
      <ion-chip (click)="setName('Vacuna Séxtuple')">
        Vacuna Séxtuple
      </ion-chip>
      <ion-chip (click)="setName('Bordotella')">
        Bordotella
      </ion-chip>
      <ion-chip (click)="setName('Coronavirus Canino')">
        Coronavirus Canino
      </ion-chip>
      <ion-chip (click)="setName('Lyme')">
        Lyme
      </ion-chip>
      <ion-chip (click)="setName('Parainfluenza')">
        Parainfluenza
      </ion-chip>
    </div>

    <div *ngIf="specie == 1"  class="chips-container">
      <ion-chip (click)="setName('Vacuna Trivalente')">
        Vacuna Trivalente
      </ion-chip>
      <ion-chip (click)="setName('Rabia')">
        Rabia
      </ion-chip>
      <ion-chip (click)="setName('Giardia')">
        Giardia
      </ion-chip>
      <ion-chip (click)="setName('Leucemia Feli')">
        Leucemia Felina
      </ion-chip>
      <ion-chip (click)="setName('Clamidiosis Felina')">
        Clamidiosis Felina
      </ion-chip>
      <ion-chip (click)="setName('Peritonitis Infecciosa Felina')">
        Peritonitis Infecciosa Felina
      </ion-chip>
      <ion-chip (click)="setName('Bordetella Bronchiseptica')">
        Bordetella Bronchiseptica
      </ion-chip>

    </div>
  </div>
</div>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="clear" color="danger" (click)="back(0)">Atras</ion-button>
    </ion-col>
    <ion-col>
      <ion-button *ngIf="name != 'other'" expand="block" [disabled]="!name || !date"  fill="clear" color="dark" (click)="add()">Agregar</ion-button>
      <ion-button *ngIf="name == 'other'" expand="block" [disabled]="3  > other_name.length || !date"  fill="clear" color="dark" (click)="add()">Agregar</ion-button>

    </ion-col>
  </ion-row>
</ion-footer>
