

<ion-content [fullscreen]="true">
  <ion-fab color="light"  vertical="top" horizontal="end"  slot="fixed" (click)="share()">
    <ion-fab-button mode="ios" size="small"color="light"  style="outline: none !important">
      <ion-icon name="share-social-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="width: 100%;height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;object-fit: cover;background-image: url('../../assets/img/qrcodeapp.png');">
  </div>
  <p style="margin-top: -63%;color:#135899;z-index: 1;padding:1em;">¡Invita a tus clientes a escanear el código y disfrutar de Radi Pets de forma rápida y gratuita! <br> <br> El proceso de registro es súper sencillo y solo les llevará menos de 2 minutos. </p>
</ion-content>

<ion-footer>
  <ion-button expand="full" fill="clear" (click)="close()" color="danger" >Cerrar</ion-button>

</ion-footer>
