<ion-content [fullscreen]="true">
  <h2>{{ad.title}}</h2>


  <ion-card>
    <ion-row>
      <ion-col size="6">
        <img [src]="ad.image" alt="">
      </ion-col>
      <ion-col size="6">
        <h2>Imagen del anuncio</h2>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <p>{{ad.status}}</p>
    <p>URL:</p>
    <p>{{ad.cta}}</p>
    <p>Fecha de inicio</p>
    <p>{{ad.start_date}}</p>
    <p>Fecha de Finalización</p>
    <p>{{ad.finish_date}}</p>
  </ion-card>

  <ion-card>
    <h3 style="padding: 1em;">Ubicación <span><ion-icon name="information-circle-outline"></ion-icon></span> </h3>
    <div  id="mapId" #leafletmap style="width: 100%;height: 25em;">
    </div>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-button expand="block" color="danger" (click)="close()">Cerrar</ion-button>
</ion-footer>
