<ion-content>
  <app-explore-container></app-explore-container>

  <ion-row>
    <ion-col [size]="device=='tablet'?10:12" [offset]="device=='tablet'?1:0">


  <div *ngIf="step == 1">

    <h1 style="padding: 1em .5em;">Recompensas</h1>


    <div *ngIf="rewards.length == 0">
      <h2 style="padding: 1em;text-align: center;margin-top: 4em;">No tienes recompensas creadas</h2>
    </div>


    <ion-button style="padding:1em;" expand="block"   color="dark"(click)="createModal()">Crear Recompensa</ion-button>


    <div *ngIf="rewards.length != 0">
      <ion-card *ngFor="let item of rewards" style="padding: 1em;">
        <ion-icon>edit</ion-icon>
        <p>Descripción del premio</p>
        <p>{{item.description}}</p>
        <p>Premio cada: <br> {{item.count}} compras</p>
        <p>Finaliza: <br> {{item.finish_date | date:'dd/MM/yyyy'}}</p>
        <p>Estatus: <br>
          <span *ngIf="item.status == 1">Activo</span>
          <span *ngIf="item.status == 0">Finalizado</span>
        </p>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="scan(item.count,item.id)" color="dark">Escanear</ion-button>
          </ion-col>
          <ion-col>
            <ion-button  expand="block" color="warning" (click)="edit(item)">
              Editar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

  </div>

  <div *ngIf="step == 2">

    <div *ngIf="successful">
      <div style="text-align: center !important;">

        <img [src]="logo" style="border-radius: 50%;width: 25em;height: 25em;padding: 5em;" alt="">
        <h2 style="text-align: center;margin-top: 2em;">Colección</h2>
      </div>

      <ion-card>
        <ion-progress-bar value="{{ (count*limit)/100 }}" color="success"></ion-progress-bar>
        <ion-row>
          <ion-col size="1">
            {{count}}
          </ion-col>
          <ion-col offset="10" size="1">
            {{limit}}
          </ion-col>
        </ion-row>
        <p style="text-align: center;">Faltan {{limit - count }} para la recompensa</p>
        <ion-button [disabled]="limit > count || isreset" expand="block" color="dark" style="padding: 1em;" (click)="updateReward()">Entregar recompensa</ion-button>
      </ion-card>
    </div>
    <div *ngIf="!successful" style="padding: 1em;margin-top:4em;">
      <h2 class="text-center">La placa no es válida, no se encontró ningún resultado</h2>
      <ion-button (click)="back()" expand="block" color="dark">Intenta con otra placa</ion-button>
    </div>



  </div>

</ion-col>
</ion-row>

</ion-content>

<ion-footer>
  <ion-button expand="block" color="danger" *ngIf="step == 1" (click)="close()">Volver</ion-button>

  <ion-button expand="block" color="danger" *ngIf="step == 2" (click)="back()">Regresar</ion-button>

</ion-footer>
