<ion-content >
  <ion-fab style="margin-top: 2em;"   vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button mode="ios" size="small" translucent    color="motel"  style="  outline: none !important;    ">
      <ion-icon name="arrow-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-row>
    <ion-col [size]="device == 'tablet'?8:12" [offset]="device=='tablet'?2:0">


  <div style="margin:6em 2em;">
    <p class="color-principal" style="margin:2.5em 0em;font-size: 2.2em; font-weight: bold;">Cambiar contrasela</p>
    <p>Ingresa tu contraseña actual y la nueva para cambiarla.</p>


      <div class="dark line-input">
          <ion-item class="new-input">
            <ion-input autocomplete="off" [(ngModel)]="password" placeholder="Contraseña actual" [hidden]="showPassword"
            type="password" class="ion-text-left"></ion-input>

          </ion-item>



        <ion-item style="margin-top: 2em;" class="new-input">
            <ion-input [(ngModel)]="new_password"  placeholder="Nueva contraseña" [hidden]="showPassword2"
            type="password" class="ion-text-left"></ion-input>


          </ion-item>


          <!-- <div *ngFor="let error of errorMessages.new_password">
            <ng-container *ngIf="new_password.hasError(error.type) && (new_password.dirty || new_password.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div> -->

      </div>

      <ion-button [disabled]="6 > new_password.length || 6 > password.length"  style="margin: 1em;" color="tertiary" (click)="update()">Actualizar</ion-button>
  </div>

  </ion-col>
</ion-row>
</ion-content>
