.progress {
  height: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: purple;
  border-radius: 4px;
}

.progress-bar {
  float: left;
  height: 100%;
  font-size: 4px;
  line-height: 3px;
  color: #fff;
  text-align: center;
  background-color: #007bff;
  transition: width 0.6s ease;
}

.bg-success{
  background-color: green;
}

.bg-warning{
  background-color: purple;
}

.bg-danger{
  background-color: royalblue;

}
