

<ion-content>

<div *ngIf="load">
  <h1 style="margin-top: 4em;text-align: center;">
    <img src="../../assets/img/logo.png" style="padding:1em 6em;" alt="">
    Cargando información ...
  </h1>
</div>

<div *ngIf="!load">
  <div *ngIf="needConfigurate" style="padding: 1em;">
    <h1 style="color:orange;text-align: center;"><ion-icon name="warning-outline"></ion-icon></h1>
    <h2>Necesitas configurar</h2>
    <p>No tardas más de 2 minutos, necesitasmos esta información la tengas a la mano para tu seguridad.</p>
    <p>Se abrira tu navegador para terminar el proceso.</p>
    <ion-button expand="full" color="tertiary" (click)="createLink()" >Configurar</ion-button>
  </div>

  <div *ngIf="!needConfigurate" style="padding:1em;">
    <h2>Información</h2>


    <p>Nombre de la cuenta</p>
    <h4 class="bold">{{account_data.settings.dashboard.display_name}}</h4>

    <p>Moneda de pago</p>
    <h4 class="bold capital">{{account_data.default_currency}}</h4>

    <p>Pais</p>
    <h4 class="bold capital">{{account_data.country}}</h4>

    <p>Cobros habilitados</p>
    <h4 class="bold" *ngIf="account_data.charges_enabled">Sí</h4>
    <h4 class="bold" *ngIf="!account_data.charges_enabled">No</h4>

    <p>Tipo de cuenta</p>
    <h4 class="bold capital">{{account_data.type}}</h4>

    <p>Cuenta</p>
    <h4 class="bold capital">{{account_data.id}}</h4>
    <ion-button style="margin-top: 2em;" expand="block" fill="clear" color="warning" (click)="updateDataGeneral()">Editar Información General</ion-button>


    <ion-card style="padding: 1em;">
      <ion-row>
        <ion-col size="10">
          <h2>Tarjetas</h2>
        </ion-col>
        <ion-col size="1" (click)="showCards()">
          <h2>
            <ion-icon name="chevron-up-outline" *ngIf="!isShowCards"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="isShowCards"></ion-icon>
          </h2>
        </ion-col>
      </ion-row>

      <div *ngIf="isShowCards">
        <div *ngFor="let item of banks">
          <p> {{item.bank_name}} ****  {{item.last4}} </p>
        </div>
        <ion-button expand="block" color="warning" (click)="updateBank()">Editar cuentas bancarias</ion-button>

      </div>
    </ion-card>


    <!-- <ion-card style="background-color: #101727;padding:1em;">
      <ion-row>
        <ion-col>
          <h2>Cuenta</h2>
        </ion-col>
        <ion-col>
          <p style="text-align: right;">Editar</p>
        </ion-col>
      </ion-row>
      <h1>{{ external_accounts.bank_name }}</h1>
      <p>Con terminación {{ external_accounts.last4 }}</p>
    </ion-card> -->


  </div>
</div>

</ion-content>
<ion-footer>
  <ion-button expand="full" color="danger" fill="clear" (click)="close()">
    Cerrar
  </ion-button>
</ion-footer>
