
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-explore-container></app-explore-container>

  <ion-row>
    <ion-col [size]="device=='tablet'?8:12" [offset]="device=='tablet'?2:0">
        <h1 style="padding: 1em .5em;">Historial de visitas</h1>

        <div *ngIf="!loading">
          <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1]" class="capital" lines="none" style="padding-bottom:1em;background-color: transparent;" button detail="true" detail-icon="caret-forward-outline">
            <ion-label>
              <ion-skeleton-text [animated]="true" style="width: 25%"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" style="width: 35%"></ion-skeleton-text>
              <ion-skeleton-text [animated]="true" style="width: 55%"></ion-skeleton-text>
            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="loading">
          <div *ngIf="records.length != 0">
            <ion-item *ngFor="let record of records" class="capital" lines="none" style="padding-bottom:1em;background-color: transparent;" button detail="true" detail-icon="caret-forward-outline">
              <ion-label (click)="History(record.id)">
                <h3 class="capital">{{record.name}}</h3>
                <p class="capital" style="font-weight: bold;" >{{record.user_name}}</p>
                <p class="capital">{{record.date | localizedDate:'fullDate'}}</p>
              </ion-label>
            </ion-item>
          </div>

          <div *ngIf="records.length == 0" style="padding:1em;margin-top:6em;">
            <h2 style="text-align: center;">No hay historial por el momento.</h2>
            <p>Para comenzar a registrar las visitas, escanea la placa de identificación de la mascota de tu cliente</p>
          </div>
        </div>

    </ion-col>
  </ion-row>


</ion-content>
