<ion-content  >
  <h1 style="text-align: center;font-weight: bold;">Crear anuncio</h1>
  <div style="padding: 1em;">
    <h3>Contenido</h3>
    <p>*Nombre del anuncio</p>
    <ion-input [(ngModel)]="title" placeholder="Nombre del anuncio" class="new-input"></ion-input>
    <p>Media</p>
    <p>La imagen necesita ser en formato historia (1220px x 720px)</p>
    <ion-button>Cargar Imagen</ion-button>
    <p>* URL</p>
    <ion-input  [(ngModel)]="cta" placeholder="URL" class="new-input"></ion-input>

    <h3>Ubicación <span><ion-icon name="information-circle-outline"></ion-icon></span> </h3>
    <div style="width: 100%;height: 13em;">
      map
    </div>
    <p>Anuncio a nivel nacional</p>
    <h3>Calendario</h3>
    <h3>Método de Pago</h3>
    <p>**** 1233 </p>
    <ion-button>Agregar metodo de pago</ion-button>
    <h3>Resumen</h3>
    <p>Tu anuncio estara en circulación durante 6 dias</p>
    <ion-row>
      <ion-col size="5">
        <h2  style="text-align: left;">Total</h2>
      </ion-col>
      <ion-col>
        <h2 style="text-align: right;">$120 MXN</h2>
      </ion-col>
    </ion-row>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="danger" (click)="close()">
        Cerrar
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button [disabled]="title == ''" expand="block" color="primary" (click)="create()">
        Promocionar
      </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>
