<ion-content>
  <div style="padding: 1em;">

    <h2 style="font-weight: bold;">Cobros</h2>

    <div *ngIf="!loading">
      <ion-card  *ngFor="let i of [1,1,1,1,1,1,1,1]" style="padding: 1em;">
        <ion-row>
          <ion-col size="11">
            <ion-skeleton-text [animated]="true" style="width: 35%;height: 1.5em;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 15%"></ion-skeleton-text>
          </ion-col>
          <ion-col size="1" >
            <ion-skeleton-text [animated]="true" style="width: 5%;height: 1.2em;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngIf="loading">
      <div *ngIf="payments.length != 0">
        <ion-card  *ngFor="let payment of payments" style="padding: 1em;">
          <ion-row>
            <ion-col size="11">
              <h3 style="font-weight: bold;">{{(payment.amount - payment.application_fee_amount)/100}} <span style="text-transform: uppercase;">{{ payment.currency}}</span> </h3>
              <p> {{payment.created * 1000 | date:'dd/MM/yyyy'}}</p>
            </ion-col>
            <ion-col size="1" (click)="seeReceipt(payment.receipt_url)">
              <h2><ion-icon name="document-text-outline"></ion-icon></h2>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>

      <div *ngIf="payments.length == 0">
        <h2 style="text-align: center !important;margin-top:3em;">No hay cobros por el momento.</h2>
      </div>
    </div>
</div>
</ion-content>
<ion-footer>
  <ion-button color="danger" expand="block" (click)="close()">
    Cerrar
  </ion-button>
</ion-footer>
