<ion-content >

  <div *ngIf="!loading">
    <ion-row style="margin-top: 2em;">
      <ion-col offset="4" size="4">
          <ion-skeleton-text [animated]="true" style="width: 8em;height: 8em;border-radius: 50%;"></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="4" size="4">
        <ion-skeleton-text [animated]="true" style="width: 100%;height: 1.4em;"></ion-skeleton-text>
      </ion-col>
    </ion-row>


    <ion-row style="margin-top: 5em;">
      <ion-col>
        <ion-skeleton-text [animated]="true" style="width: 65%;height: 1.3em;"></ion-skeleton-text>
      </ion-col>
      <ion-col>
        <ion-skeleton-text [animated]="true" style="width: 65%;height: 1.3em;"></ion-skeleton-text>
      </ion-col>
      <ion-col>
        <ion-skeleton-text [animated]="true" style="width: 65%;height: 1.3em;"></ion-skeleton-text>
      </ion-col>
      <ion-col>
        <ion-skeleton-text [animated]="true" style="width: 65%;height: 1.3em;"></ion-skeleton-text>
      </ion-col>
    </ion-row>


    <div style="padding: 1em;">
      <ion-skeleton-text [animated]="true" style="width: 45%;height: 1.4em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 15%;margin-top: 2em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 30%;height: 1.2em;"></ion-skeleton-text>

        <ion-skeleton-text [animated]="true" style="width: 19%;margin-top: 1.34em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 67%;height: 1.2em;"></ion-skeleton-text>

        <ion-skeleton-text [animated]="true" style="width: 45%;margin-top: 1.34em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 24%;height: 1.2em;"></ion-skeleton-text>

        <ion-skeleton-text [animated]="true" style="width: 35%;margin-top: 1.34em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 42%;height: 1.2em;"></ion-skeleton-text>

        <ion-skeleton-text [animated]="true" style="width: 64%;margin-top: 1.34em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 68%;height: 1.2em;"></ion-skeleton-text>

        <ion-skeleton-text [animated]="true" style="width: 43%;margin-top: 1.34em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 85%;height: 1.2em;"></ion-skeleton-text>


        <ion-skeleton-text [animated]="true" style="width: 45%;margin-top: 1.34em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 24%;height: 1.2em;"></ion-skeleton-text>

        <ion-skeleton-text [animated]="true" style="width: 35%;margin-top: 1.34em;"></ion-skeleton-text>
        <ion-skeleton-text [animated]="true" style="width: 42%;height: 1.2em;"></ion-skeleton-text>

      </div>



  </div>

  <div *ngIf="loading" style="padding: 1em;">
    <div style="text-align: center;">
      <img style="width: 8em; height: 8em; border-radius: 50%;" src="{{user.photo}}" alt="image">
    </div>
    <h1 style="text-align: center;" class="capital">{{user.name}}</h1>
    <ion-segment mode="md" (ionChange)="segmentChange($event)"  style="margin-top: 3em;" [(ngModel)]="menu" [scrollable]="true">
      <ion-segment-button value="info">
       Info
      </ion-segment-button>
      <ion-segment-button value="visits" >
        Visitas
      </ion-segment-button>
      <ion-segment-button value="pets">
        Mascotas
      </ion-segment-button>
      <ion-segment-button value="payments">
        Cobros
      </ion-segment-button>
      <ion-segment-button value="alerts">
        Notificaciones
      </ion-segment-button>
      <ion-segment-button value="extras">
        Extras
      </ion-segment-button>

    </ion-segment>

<div *ngIf="menu == 'info'">
  <h2>Información del usuario</h2>
  <small>Celular</small>
  <h2 class="bold">{{user.cellphone}}</h2>
  <small>Correo</small>
  <h2 class="bold">{{user.email}}</h2>
  <small>Género</small>
  <h2 *ngIf="user.gender == 1" class="bold">Hombre</h2>
  <h2 *ngIf="user.gender == 2" class="bold">Mujer</h2>
  <small>Fecha de nacimiento</small>
  <h2 *ngIf="user.birthday" class="bold">{{user.birthday | date:'dd/MM/yyyy'}} ({{age}} años)</h2>
  <h2 *ngIf="!user.birthday" class="bold">Información no proporcionada</h2>

  <div *ngIf="user.interest != null">
    <small>Intereses</small>
    <p class="bold">{{interest}}</p>
  </div>

  <small>Usuario en Radi Pets</small>
  <h2 class="bold">Usuario desde {{user.createdAt  | date:'dd/MM/yyyy'}}</h2>

  <h2 style="margin-top: 2em;">Acciones</h2>
  <a style="text-decoration: none;" href = "mailto: {{user.email}}">
    <ion-item lines="none">
      <ion-label>Enviar correo</ion-label>
      <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-item>
  </a>

  <a *ngIf="user.cellphone" style="text-decoration: none;" href="tel:{{user.cellphone}}">
    <ion-item lines="none">
      <ion-label>Llamar </ion-label>
      <ion-icon name="call-outline" slot="end"></ion-icon>
    </ion-item>
  </a>

  <ion-card style="padding: 1em;">
    <ion-item lines="none" (click)="setVisibleAddress()">
      <ion-label>Ver direcciones </ion-label>
      <ion-icon name="pin-outline" slot="end"></ion-icon>
    </ion-item>

    <div *ngIf="visibleAddress">
      <div *ngIf="addresses.length != 0">
        <div *ngFor="let address of addresses">
          <p>{{address.thoroughfare}} {{ address.subThoroughfare }},{{ address.subLocality }},{{ address.postalCode }},{{ address.locality }}, <br> {{ address.administrativeArea }}, {{ address.country }}</p>
        </div>
      </div>
      <div *ngIf="addresses.length == 0">
        <p style="text-align: center !important;">No tiene direcciones agregadas</p>
      </div>
    </div>
  </ion-card>



</div>

<div *ngIf="menu == 'visits'">
  <ion-card style="text-align: center;">
    <h3>Visitas</h3>

    <ion-item *ngFor="let record of records" class="capital" lines="none" style="padding-bottom:1em;background-color: transparent;" button detail="true" detail-icon="caret-forward-outline">
      <ion-label (click)="History(record.id)">
        <p class="capital" style="font-weight: bold;">{{record.description}}</p>
        <p class="capital">{{record.date | localizedDate:'fullDate'}}</p>
      </ion-label>
    </ion-item>

  </ion-card>
</div>

<div *ngIf="menu == 'pets'">
  <h2>Mascotas</h2>
  <ion-card *ngFor="let pet of pets" (click)="seePets(pet.id)">
    <ion-row>
      <ion-col size="4">
        <img style="border-radius: 50%;" [src]="pet.photo" alt="">
      </ion-col>
      <ion-col size="8">
        <h2 class="capital">{{pet.name}}</h2>
        <p *ngIf="pet.size == 'mn'">Mini</p>
        <p *ngIf="pet.size == 'sm'">Pequeño</p>
        <p *ngIf="pet.size == 'md'">Mediano</p>
        <p *ngIf="pet.size == 'lg'">Grande</p>
        <p *ngIf="pet.size == 'xl'">Extra grade</p>
        <p *ngIf="pet.code" style="color:green;">Con Placa de identificación</p>
        <p *ngIf="!pet.code" style="color:red;">Sin Placa de identificación</p>
      </ion-col>
    </ion-row>

  </ion-card>
</div>

<div *ngIf="menu == 'extras'">
  <h2>Extras</h2>
  <p>Notas</p>
  <div *ngIf="crudIs == 'create'">
    <ion-textarea maxlength="350" rows="8" cols="17"  [(ngModel)]="notes" class="new-input" placeholder="Ingresa alguna nota sobre tu cliente" type="text"></ion-textarea>
    <p>
      <ion-icon  style="color: green;font-size: 1.3em;" (click)="setTos(false)" *ngIf="tos_accept" name="checkmark-circle-outline"></ion-icon>
      <ion-icon style="color: red;font-size: 1.3em;" (click)="setTos(true)" *ngIf="!tos_accept" name="ban-outline"></ion-icon>
      Acepto terminos y condiciones
    </p>
    <p>
      <ion-icon  style="color: green;font-size: 1.3em;" (click)="setTof(false)" *ngIf="tof_accept" name="checkmark-circle-outline"></ion-icon>
      <ion-icon  style="color: red;font-size: 1.3em;" (click)="setTof(true)"  *ngIf="!tof_accept" name="ban-outline"></ion-icon>
      Acepto reglamento
    </p>

    <ion-button color="dark" (click)="createExtraData()">Crear</ion-button>


  </div>
  <div *ngIf="crudIs == 'update'">
    <ion-textarea maxlength="350" rows="8" cols="17"  [(ngModel)]="notes" class="new-input" placeholder="Ingresa alguna nota sobre tu cliente" type="text"></ion-textarea>
    <div style="margin-top: 3em;">
      <p>
        <ion-icon  style="color: green;font-size: 1.3em;" (click)="setTos(false)" *ngIf="tos_accept" name="checkmark-circle-outline"></ion-icon>
        <ion-icon  style="color: red;font-size: 1.3em;" (click)="setTos(true)" *ngIf="!tos_accept" name="ban-outline"></ion-icon>
        Acepto terminos y condiciones
      </p>

      <p>
        <ion-icon style="color: green;font-size: 1.3em;" (click)="setTof(false)" *ngIf="tof_accept" name="checkmark-circle-outline"></ion-icon>
        <ion-icon  style="color: red;font-size: 1.3em;" (click)="setTof(true)"   *ngIf="!tof_accept" name="ban-outline"></ion-icon>
        Acepto reglamento
      </p>

    </div>
    <ion-button color="dark" (click)="updateExtraData()">Actualizar</ion-button>

  </div>



</div>


<div *ngIf="menu == 'payments'">
  <h2>Cobros recientes </h2>
  <div *ngIf="!account">
    <p style="padding:1em;text-align: center !important;">No tienes habilitado los pagos</p>
  </div>
  <div  *ngIf="account">
    <div *ngIf="payments.length != 0">
      <div *ngFor="let payment of payments">
        <ion-row>
          <ion-col size="11">
            <h3 style="font-weight: bold;">{{(payment.amount - payment.application_fee_amount)/100}} <span style="text-transform: uppercase;">{{ payment.currency}}</span> </h3>
            <p> {{payment.created * 1000 | date:'dd/MM/yyyy'}}</p>
          </ion-col>
          <ion-col size="1" (click)="seeReceipt(payment.receipt_url)">
            <h2><ion-icon name="document-text-outline"></ion-icon></h2>
          </ion-col>
        </ion-row>

      </div>
    </div>
    <div  *ngIf="payments.length == 0">
      <h2 style="text-align: center;margin-top: 4em;">No tiene cobros</h2>
    </div>
  </div>
</div>

<div *ngIf="menu == 'alerts'">
  <h2>Notificaciones</h2>
  <div *ngIf="!isSuscribe">
    <h2>El usuario no esta suscrito a recibir notificaciones de tu negocio</h2>
    <p>
      Puedes invitarlo a suscribirse desde su aplicación o ofrecerte a registrarlo de forma gratuita. Recuerda que suscribir usuarios sin su consentimiento puede resultar en la suspensión de tu cuenta. </p>
      <p><ion-checkbox labelPlacement="end" [(ngModel)]="checkboxSuscribe">El cliente me da su autorización para suscribirlo</ion-checkbox></p>
    <ion-button expand="block" color="dark" [disabled]="!checkboxSuscribe" shape="round" (click)="createSubscrptionAlert()">Suscribir</ion-button>

  </div>
  <div *ngIf="isSuscribe">
    <div *ngIf="suscribeStatus">
      <h2>El usuario esta suscrito a recibir notificaciones</h2>
      <ion-button expand="block" color="dark" shape="round" (click)="sendNotification()">Enviar notificación</ion-button>
    </div>
    <div  *ngIf="!suscribeStatus">
      <h2>  El usuario tiene desahabilitado las suscripciones</h2>
    </div>

  </div>
</div>


  </div>

</ion-content>

<ion-footer>
  <ion-button (click)="close()" color="danger" expand="full">Cerrar</ion-button>
</ion-footer>
