
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="margin-top: 4em;padding:1em">

  <div *ngIf="!id_org">
    <ion-row>
      <ion-col size="4"  >
        <img src="../../assets/img/logo.png" alt="">
      </ion-col>
      <!-- <ion-col size="4">
        <img src="../../assets/img/logo.png" alt="">
      </ion-col> -->
    </ion-row>
    <h1>Radi Org</h1>
    <p>Ingresa tu correo y contraseña para poder editar la información de sus mascotas.</p>
    <div style="padding: 1em;">
      <p>Correo</p>
      <ion-input class="new-input" placeholder="Correo eléctronico" [(ngModel)]="email"></ion-input>
      <p>Contraseña</p>
      <ion-input class="new-input" placeholder="Contraseña"  type="password" [(ngModel)]="password"></ion-input>
      <ion-button style="margin-top:1em;" shape="round" (click)="login()" expand="full" color="tertiary">Ingresar</ion-button>
    </div>
  </div>

  <div *ngIf="id_org">

        <h1>{{name_organization}}</h1>
        <ion-button (click)="scanResult(1)">Escanear placa</ion-button>

        <h3>Listado de Mascotas</h3>

        <div *ngIf="pets.length != 0">
          <ion-item *ngFor="let item of pets" class="capital" lines="none" style="padding-bottom:1em;background-color: transparent;" button detail="true" detail-icon="caret-forward-outline">
            <ion-label (click)="seePet(item.id,item.code)">
              <h5 class="capital">{{item.name}}</h5>
              <p  style="color: #e46d23;" *ngIf="!item.code">No enlazada</p>
              <p style="color:#41cb7d" *ngIf="item.code">Enlazada</p>
            </ion-label>
          </ion-item>
        </div>
        <div style="margin-top: 4em;text-align: center;" *ngIf="pets.length == 0">
          <h2>No hay mascotas</h2>
          <!-- <p>Por el momento no hay mascotas que mostrar.</p> -->
          <p>Necesitas agregar las mascotas en la otra plataforma.</p>
        </div>

  </div>
</div>

</ion-content>
