
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="margin-top: 4em;padding:1em">

  <div *ngIf="!id_org">
    <ion-row>
      <ion-col size="4"  >
        <img src="../../assets/img/logo.png" alt="">
      </ion-col>
    </ion-row>
    <h1>Necesitas permisos</h1>
    <p>Para iniciar a esta sección necesitas permisos por parte de nuestro equipo, por favor comunicate para tener acceso a esta sección</p>
  </div>

  <div *ngIf="id_org">
    <h3>Listado de Mascotas</h3>
        <ion-button (click)="scanResult('visits')" expand="block" color="dark" shape="round">Escanear placa</ion-button>
        <div *ngIf="pets.length != 0">
          <ion-item *ngFor="let item of pets" class="capital" lines="none" style="padding-bottom:1em;background-color: transparent;" button detail="true" detail-icon="caret-forward-outline">
            <ion-label (click)="seePet(item.id,item.code)">
              <h5 class="capital">{{item.name}}</h5>
              <p  style="color: #e46d23;" *ngIf="!item.code">Sin placa enlazada</p>
              <p style="color:#41cb7d" *ngIf="item.code">Con placa Enlazada</p>

              <p *ngIf="item.status == 2">En adopción</p>
              <p *ngIf="item.status == 0">Fallecido</p>
              <p *ngIf="item.status == 3">Desaparecido</p>
              <p *ngIf="item.status == 1">Normal</p>

            </ion-label>
          </ion-item>
        </div>
        <div style="margin-top: 4em;text-align: center;" *ngIf="pets.length == 0">
          <h2>No hay mascotas</h2>
          <!-- <p>Por el momento no hay mascotas que mostrar.</p> -->
          <p>Necesitas agregar las mascotas en la otra plataforma.</p>
        </div>

  </div>
</div>

</ion-content>
