
<ion-content>

  <ion-row>
    <ion-col [size]="device=='tablet'?8:12" [offset]="device=='tablet'?2:0">
      <ion-row>
        <ion-col size="10">
          <h1 style="padding: 1em .5em;">Mascotas</h1>
        </ion-col>
      </ion-row>

      <div *ngIf="!loading">
        <ion-item *ngFor="let i of [1,1,1,1,1,1,1]" lines="none" style="padding-bottom: .5em;"  button detail="true" detail-icon="caret-forward-outline">
          <ion-label class="capital">
            <ion-skeleton-text [animated]="true" style="width: 35%;height: 1.2em;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 55%"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="loading">
        <div *ngIf="pets.length != 0">
          <ion-item *ngFor="let pet of pets" lines="none" style="padding-bottom: .5em;"  button detail="true" detail-icon="caret-forward-outline">
            <ion-label (click)="showPet(pet.id)">
              <h2 class="capital">
                {{pet.name}}
              </h2>
              <p *ngIf="pet.code" style="color:green;">Con Placa de identificación</p>
              <p *ngIf="!pet.code" style="color:red;">Sin Placa de identificación</p>

            </ion-label>
          </ion-item>
        </div>

        <div *ngIf="pets.length == 0" style="padding:1em;margin-top:6em;">
          <h2 style="text-align: center;">No hay mascotas por el momento.</h2>
        </div>
      </div>


    </ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-button expand="block" color="danger" (click)="back()">Volver</ion-button>
</ion-footer>
